body {
  background-color: grey;
}

header {
  background-color: black;
  color: skyblue;
  text-align: center;
}

/* spliting the screen so search bar is on one side and the forcast is on the other */
#nav {
  width: 20%;
  float: left;
}

#results {
  width: 80%;
  float: right;
}

/* styling the form and the elements within */
#form {
  width: 100%;
  text-align: center;
}

#search {
  width: 90%;
}

ul {
  list-style-type: none;
  padding: 5px;
}

li {
  margin: 5px;
  padding: 5px;
}

#history button {
  width: 100%;
}

/* styling todays weather */
#today {
  margin: 5px;
  display: block;
}

#today div {
  margin: 5px;
  padding: 5px;
  background-color: skyblue;
  border-radius: 10px;
  border: 3px, solid, black;
}
/* styling the forecast */
#forecast {
  margin: 5px;
  display: flex;
}

#forecast div {
  padding: 10px;
  margin: 5px;
  background-color: skyblue;
  width: 25%;
  border-radius: 10px;
  border: 3px, solid, black;
}
